.main {
  min-height: 36vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.15;
  padding: 24px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.description a {
  color: #0070f3;
  text-decoration: none;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}
